<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<title><%= project.title %></title>

<!-- Favicon -->
<meta name="apple-mobile-web-app-title" content="The City">
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://static.thecity.nyc/media/icon.76x76.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://static.thecity.nyc/media/icon.120x120.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://static.thecity.nyc/media/icon.152x152.png">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="https://static.thecity.nyc/media/icon.180x180.png">
<link rel="mask-icon" sizes="any" href="https://static.thecity.nyc/media/mask.svg" color="">
<link rel="icon" sizes="196x196" href="https://static.thecity.nyc/media/icon.196x196.png">
<meta name="application-name" content="The City">
<meta name="msapplication-TileColor" content="">
<meta name="msapplication-TileImage" content="https://static.thecity.nyc/media/icon.144x144.png">
<link rel="icon" type="image/svg+xml" href="https://static.thecity.nyc/media/icon.svg">
<link rel="shortcut icon" type="image/x-icon" href="https://static.thecity.nyc/media/favicon.ico">

<!-- Safari, you're the worst -->
<meta name='format-detection' content='telephone=no'>

<% if (!project.embedded) { %>

<!-- BEGIN TWITTER SUMMARY CARD -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= project.title %>">
<meta name="twitter:site" content="@thecityny">
<meta name="twitter:url" content="<%= project.url %>">
<meta name="twitter:image" content="<%= project.image %>">
<meta name="twitter:description" content="<%= project.description %>">

<!-- Social sharing meta -->
<meta property="og:type" content="article">
<meta property="og:title" content="<%= project.title %>">
<meta property="og:site_name" content="The City">
<meta property="og:url" content="<%= project.url %>">
<meta property="og:image" content="<%= project.image %>">
<meta property="og:description" content="<%= project.description %>">

<!-- Google structured data -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "<%= project.url %>"
    },
    "headline": "<%= project.title %>",
    "image": {
      "@type": "ImageObject",
      "url": "<%= project.image %>"
    },
    "author": {
      "@type": "Person",
      "name": "<%= project.author %>"
    },
    "publisher": {
      "@type": "Organization",
      "name": "The City",
      "logo": {
        "@type": "ImageObject",
        "url": "<%= project.logo %>",
        "width": 2176,
        "height": 725
      }
    },
    "description": "<%= project.description %>",
    "datePublished": "<%= new Date(project.datePublished).toISOString() %>"
  }
</script>

<%
// if !project.embedded...
}
%>
