body.education {
  background-color: #a8b18c;
  .question form button.active {
    background-color: #848c73;
  }
  .copy {
    a, a:visited {
      box-shadow: 0 1px 0 #848c73;
    }
  
    a:visited, a:hover, a:active, a:focus {
      box-shadow: 0 2px 0 #848c73;
    }
  }
}

body.nypd {
  background-color: #fda584;
  .question form button.active {
    background-color: #f78e65;
  }

  .copy {
    a, a:visited {
      box-shadow: 0 1px 0 #f78e65;
    }
  
    a:visited, a:hover, a:active, a:focus {
      box-shadow: 0 2px 0 #f78e65;
    }
  }
}

body.corona-recovery {
  background-color: #c9b6ca;
  .question form button.active {
    background-color: #b98fc1;
  }

  .copy {
    a, a:visited {
      box-shadow: 0 1px 0 #b98fc1;
    }
  
    a:visited, a:hover, a:active, a:focus {
      box-shadow: 0 2px 0 #b98fc1;
    }
  }
}