body.education {
  background-color: #a8b18c;
  .question form button.active {
    background-color: #848c73;
  }
}

body.nypd {
  background-color: #fda584;
  .question form button.active {
    background-color: #f78e65;
  }
}

body.corona-recovery {
  background-color: #c9b6ca;
  .question form button.active {
    background-color: #b98fc1;
  }
}