.question-final {
  margin: 60px 0;

  form {
    flex-wrap: wrap;
    margin: 0 -0.5%;

    button {
      width: 100%;
      margin: 2px 0;
      padding: 15px 20px;
      background-color: rgba(255,255,255,0.9);
      border: 1px solid #ccc;
      border-radius: 5px;
      color: #333;
      .bookface();
      font-size: 16px;
      line-height: 26px;
      text-align: left;
      cursor: pointer;
      outline: none;

      &:hover, &:focus {
        box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
      }

      &.active {
        color: #fff;
      }
    }

    @media screen and (min-width: 600px) {
      display: flex;

      button {
        width: 49%;
        margin: 0.5%;
        text-align: center;
      }
    }
  }
}

.question-copy {
  font-family: @serif;
  font-size: 18px;
  line-height: 28px;

  a {
    text-decoration: none;

    &, &:visited {
      color: inherit;
      box-shadow: 0 1px 0 #0c71fa;
    }

    &:hover, &:active, &:focus {
      color: inherit;
      box-shadow: none;
    }
  }
}

.question-hed {
  font-size: 20px;
  line-height: 30px;
  margin: 18px 0;
}

.responses-final {
  .response {
    border: none;
    display: none;

    &.active {
      display: block;
    }

    ul {
      margin: 0;

      li {
        margin: 30px 8px;

        &:first-child {
          margin-top: 5px;
        }
        &:last-child {
          margin-bottom: 5px;
        }
      }
    }
  }

  &.grid .response ul li {
    margin: 5px 8px;
  }

  @media screen and (min-width: 400px) {
    .response ul li {
      margin: 5px 0 16px 8px;
    }
    
    .response-details {
      margin-top: 10px;
    }
  }

  .circle-image {
    width: 60px;
    height: 60px;
  }

  .circle-image-caption {
    display: none;
  }

  &.grid .circle-image-caption {
    display: block;
  }
}

.circle-image-caption {
  font-size: 10px;
  line-height: 1.5em;
  margin-top: 5px;
}

.agreed {
  display: none;

  &.active {
    display: block;
  }
}

.expand-answers {
  .bookface();
  font-size: 14px;
  white-space: nowrap;
  outline: none;

  &:focus .display-open, &:focus .display-closed {
    outline: dotted 1px;
  }

  &::before {
    display: block;
    content: ' ';
    outline: none;

    @media screen and (min-width: 450px) {
      content: '\00B7';
      display: inline-block;
      margin: 0 6px;
    }    
  }

  &, &:focus, &:visited {
    text-decoration: none;
    color: #666;
  }

  &:hover, &:active {
    text-decoration: underline;
    color: #666;
  }

  & > .display-open, & > .display-closed {
    display: none;
  }

  &.expanded > .display-open {
    display: inline;
  }
  &.collapsed > .display-closed {
    display: inline;
  }
}
