@import "base";
@import "article";

.question {
  margin: 40px auto;

  form {
    display: block;
    margin: 0 auto;
    width: fit-content;

    .input-group {
      margin: 10px 0 10px -25px;
    }
  } 
}

.answers {
  display: flex;

  .answer {
    flex: 1 0 0;
    text-align: center;
  }
}

.chart {
  width: 100%;
  height: 50px;
}