@import "base";
@import "article";
@import "tooltip";

.question {
  margin: 40px auto;

  form {
    display: block;
    margin: 0 auto;
    width: fit-content;

    .input-group {
      margin: 10px 0 10px -25px;
    }
  } 
}

.answers {
  display: block;

  @media screen and (min-width: 600px) {
    display: flex;
  }
  
  .answer {
    flex: 1 1 0;
    overflow: hidden;
    text-align: center;
  }
}

.chart {
  width: 100%;
  height: 200px;
}

.result {
  margin: 0 auto;
  width: fit-content;
  display: block;
}

.result-title {
  text-align: center;
}