.tooltip {
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #999;
  padding: 0 10px;
  display: inline-block;
  opacity: 1;
  max-width: 280px;
  position: absolute;
  // pointer-events: none;
  font-size: 14px;
  color: #333;
  z-index: 1;

  &.tooltip-hidden {
    opacity: 0;
    pointer-events: none;
    // transition: all .2s;
    // transition-delay: .1s;
  }
}