<!doctype html>
<html lang="en-US">

  <% 
  // TODO: replace during build
  const questionText = grunt.data.json.questionData || {};
  const questionAnswerText = grunt.data.json.answerData || {};
  const positionData = grunt.data.json.positionData || {};
  const candidateData = grunt.data.json.candidateData || {};
  const topicDisplayData = grunt.data.json.topicDisplayData || {};
  const topicData = grunt.data.json.topicData || {};
  const candidatePhotos = grunt.data.json.photos || [];

  const photo = candidatePhotos.filter(d => d.slug === candidateSlug)[0];

  const activeTopics = topicData.reduce((activeTopics, topic) => {
    if (topic.candidates.indexOf(candidateSlug) > -1) {
      return [].concat(activeTopics, topic.topic);
    }
    return activeTopics;
  }, []);

  const emptyImage = "data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==";

  // TODO: first published? Updated?
  const datePublished = new Date();

  const project = {
    "title": `Meet Your Mayor: ${candidateData[candidateSlug].name}`,
    "description": `Learn more about ${candidateData[candidateSlug].name} and how ${candidateData[candidateSlug].pronoun} responded to tough questions facing NYC's next mayor.`,
    "url": `https://projects.thecity.nyc/meet-your-mayor/candidates/${candidateSlug}.html`,
    "image": `${photo ? photo.url : "https://projects.thecity.nyc/meet-your-mayor/assets/logo.png"}`,
    "logo": "https://projects.thecity.nyc/meet-your-mayor/assets/logo.png",
    "author": "THE CITY",
    "datePublished": datePublished.toISOString()
  };
  
  const twitterUrl = `https://twitter.com/intent/tweet?text=${encodeURIComponent(project.description)}&counturl=${encodeURIComponent(project.url)}&url=${encodeURIComponent(project.url + "?utm_campaign=www.thecity.nyc&utm_medium=social&utm_source=twitter&utm_content=mym")}&via=THECITYNY`;
  const facebookUrl = `https://www.facebook.com/sharer/sharer.php?text=${encodeURIComponent(project.description)}&u=${encodeURIComponent(project.url + "?utm_campaign=www.thecity.nyc&utm_medium=social&utm_source=facebook&utm_content=mym")}`;
  const emailUrl = `mailto:?subject=${project.title}&body=${project.description}%0A%0A${encodeURIComponent(project.url)}`;

  const apMonths = ["Jan.", "Feb.", "March", "April", "May", "June", "July", "Aug.", "Sept.", "Oct.", "Nov.", "Dec."];
%>

<head>
  <%= t.include("partials/_head.html", {project: project}) %>
  <link rel="stylesheet" type="text/css" href="../style.css">
</head>

<body data-slug="<%= candidateSlug %>">
  <nav class="nav">
    <div class="nav-container">
      <div class="nav-logo">
        <a href="https://thecity.nyc/"><%=  t.include("assets/logo.svg") %></a>
      </div>
      <div class="nav-title"></div>
      <div class="nav-links">
        <a href="https://projects.thecity.nyc/nyc-primary-voter-guide-2021/">Voter Guide</a>
      </div>
    </div>
  </nav>
  <main>
    <div class="article-header">
      <p class="header-label"><a href="https://www.thecity.nyc/22330081/meet-your-mayor-nyc">Meet Your Mayor</a></p>
      <h1 class="header-title"><%= candidateData[candidateSlug].name %> (<%= candidateData[candidateSlug].party === "D" ? "D" : candidateData[candidateSlug].party === "R" ? "R" : "" %>)</h1>
    </div>
    <div class="article-body">
      <div class="article-body-content">
        <% if (photo) { %>
          <figure class="image-hero photo">
            <img src="<%= photo.url %>" alt="<%= candidateData[candidateSlug].name %>" />
            <span class="photo-meta">
              <% if (photo.caption) { %>
                <figcaption><%= photo.caption %></figcaption>
                <cite><%= photo.credit %></cite>
              <% } else { %>
                <figcaption><%= photo.credit %></figcaption>
              <% } %>
            </span>
          </figure>
        <% } %>
        
        <% if (archieml["candidates"][candidateSlug]) {
          const bio = archieml["candidates"][candidateSlug].filter(entry => entry.type === "text" || entry.type === "markdown");
          const website = archieml["candidates"][candidateSlug].filter(entry => entry.type === "website")[0];
          const positionText = archieml["candidates"][candidateSlug].filter(entry => entry.type === "positions")[0];
        %>
          <% if (bio.length) { %> 
            <%= t.include("partials/_archie.ejs", {story: bio, containers: false}) %>
            <% if (website) { %>
              <p class="copy">Website: <%= website.value %></p>
            <% } %>
          <% } else { %> 
            <p></p>  
          <% }%>
          <div class="final-intro">
            <h2 class="subhead">Positions</h2>
            <p class="copy">THE CITY sent three multiple-choice surveys to every Democratic and Republican mayoral candidate on the ballot for the June 22 primary, starting in February.
              <% if (positionText) { %>
                <%= positionText.value %>
              <% } else { %>
                See how <%= candidateData[candidateSlug].name %> answered below.
              <% } %>
            </p>
            <p class="copy"><a href="https://www.thecity.nyc/22330081/meet-your-mayor-nyc">Read more about how we surveyed the candidates.</a></p>
          </div>
        <% } %>
        <% activeTopics.forEach(topic => {
          const questions = archieml[topic] && archieml[topic].questions || [];
        %>
          <% if (positionData[topic]) { %>
            <div class="topic-section expandable collapsed" data-value="<%= topic %>">
              <div class="topic-header expandable-header expandable-link">
                <h2 class="topic-header-name"><%= topicDisplayData[topic].label %></h2>
                <div class="display-open"><i class="up-arrow"></i></div><div class="display-closed"><i class="down-arrow"></i></div>
              </div>
              <div class="expandable-body">
                <a class="topic-link" href="../<%= topic %>.html">View topic guide</a>
                <ul class="position-questions">
                  <% questions.forEach(({slug, answers}) => { %>
                    <li>
                      <% 
                        // Get all the candidate positions on a question, filter for the candidate slug.
                        // Return the position if it exists, otherwise undefined.
                        const candidateAnswer = Object.entries(positionData[topic][slug]).reduce((candidateAnswer, [answerSlug, answer]) => {
                          if (!candidateAnswer) {
                            const candidatePosition = answer.filter(position => position.slug === candidateSlug)[0];
      
                            if (candidatePosition) {
                              return {...candidatePosition, answerSlug}
                            } 
                          } else {
                            return candidateAnswer;
                          }
                        }, undefined); 
                      %>
                      <h4 class="position-question"><%= questionText[topic][slug] %></h4>
                      <% if (candidateAnswer) { %>
                        <% answers.forEach(answerSlug => { %>
                          <p class="position-answer <%= answerSlug === candidateAnswer.answerSlug ? 'active' : '' %>"><%= questionAnswerText[topic][slug][answerSlug] %></p>
                        <% }) %> 
                        <% if (candidateAnswer.quote) { %>
                          <figcaption class="position-block-quote">
                            <blockquote class="position-quote"><%= candidateAnswer.quote %></blockquote>
                            <figcaption class="position-source">from <cite><%= candidateAnswer.url ? `<a href="${candidateAnswer.url}">${candidateAnswer.source}</a>` : candidateAnswer.source %></cite><%= candidateAnswer.date ? `, ${candidateAnswer.date}` : "" %></figcaption>  
                          </figcaption>
                        <% } %>
                      <% } else { %>
                        <p class="position-answer none">No response / no position</p>
                      <% } %>
                    </li>
                  <% }); %>
                </ul>
              </div>
            </div>
          <% } %>
        <% }); %>
      </div>
      <div class="article-body-sidebar">
        <div id="coverage" class="sidebar-box coverage loading"></div>
        <div class="sidebar-box">
          <h3 class="sidebar-header">Candidates</h3>
          <ul class="sidebar-list">
            <% // Sort candidates by last name
              const sortedCandidates = Object.entries(candidateData).sort((a, b) => {
                const aText = a[1].lastName.toLowerCase();
                const bText =  b[1].lastName.toLowerCase()

                if (aText < bText) {
                  return -1;
                }
                if (aText > bText) {
                  return 1;
                }
                return 0;
              });
              sortedCandidates.forEach(([candidateSlug, candidate]) => { 
            %>
              <li><a href="<%= candidateSlug %>.html"><%= candidate.name %> (<%= candidateData[candidateSlug].party === "D" ? "D" : candidateData[candidateSlug].party === "R" ? "R" : "" %>)</a></li>
            <% }) %>
          </ul>
        </div>
        <div class="sidebar-box">
          <h3 class="sidebar-header">Meet Your Mayor</h3>
          <p class="sidebar-copy">Answer questions on the big issues facing NYC and find out which candidates agree with you most.</p>
          <p><a class="city-button" href="../ultimate-match.html">Take the quiz</a></p>
        </div>
      </div>
    </div>
  </main>
  <%= t.include("partials/_footer.html") %>
  <script src="../candidates.js"></script>
  <% if (mode !== "dev") { %>
    <%= t.include("partials/_analytics.html") %>
  <% } %>
</body>

</html>
