<!doctype html>
<html lang="en-US">

<head>
  <%= t.include("partials/_head.html", grunt.data.json) %>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<% 
  const archieml = grunt.data.archieml[docSlug];
  const topic = archieml.topic;
  const questions = archieml.questions;

  const questionText = grunt.data.json.questionData[topic] || {};
  const questionAnswerText = grunt.data.json.answerData[topic] || {};
  const questionPositions = grunt.data.json.positionData[topic] || {};

  const emptyImage = "data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==";
  const candidateSlugs = Object.keys(grunt.data.json.candidateData);
%>

<body class="<%= topic %> loading" data-topic="<%= topic %>">

  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=3802878269795841" nonce="QG4nWXXa"></script>

  <div class="splash-screen">
    <div class="splash-screen-background">
      <div class="background-circle"></div>
    </div>
    <div class="splash-screen-text">
      <div class="watermark"><a href="https://thecity.nyc/"><%=  t.include("assets/logo.svg") %></a></div>
      <p class="series-headline">Meet Your Mayor</p>
      <h1 class="topic"><%= archieml.hed %></h1>
      <% const updated = new Date(); %>
      <p class="date"><time datetime="<%= updated.toISOString() %>"><%= updated.toLocaleDateString("en-US", {
          month: "long",
          day: "numeric",
          year: "numeric"
        }) %></time>
      </p>
      <p class="deck"><%= archieml.dek %></p>
      <i class="down-arrow"></i>
    </div>
  </div>
  <main>
    <div class="section intro">
      <% if (archieml.intro) { %>
        <%= t.include("partials/_archie.ejs", {story: archieml.intro}) %>
      <% } %>
      <div class="copy-container">
        <div class="login">
          <p class="login-prompt"></p>
          <p class="login-buttons">
            <button id="fb-button" class="fb-button"><%=  t.include("assets/login-icons/f_logo.svg") %> <span class="fb-button-text">Log in with Facebook</span></button>
          </p>
        </div>
        <p class="copy login-note">Logging in is optional and allows us to show you your selections across multiple browsing sessions. Read about how we store your data for this interactive and keep it private in our <a href="#">privacy statement</a>.</p>
      </div>
    </div>

    <% if (questions) { %>
      <% questions.forEach((question, index) => { %>
      <% 
        const answerText = questionAnswerText[question.slug] || {};
        const answerPositions = questionPositions[question.slug] || {};
        const answerCandidateSlugs = [].concat(...Object.values(answerPositions)).map(d => d.slug);
        const naAnswerPositions = candidateSlugs.filter(slug => answerCandidateSlugs.indexOf(slug) < 0).map(d => ({slug: d}));
        const positions = {...answerPositions, na: naAnswerPositions};
      %>
    
      <div class="question section" data-slug="<%= question.slug %>">
        <div class="copy-container">
          <h2 class="subhead"><%= question.subhead %></h2>
          <div class="copy">
            <%= t.renderMarkdown(question.intro) %>
          </div>
        </div>
        <div class="photo-container">
          <div class="question-container">
            <div class="copy-container">
              <p class="question-number">Question <%= index + 1 %> of <%= questions.length %></p>
              <h3><%= questionText[question.slug] %></h3>
              <form>
                <% question.answers.forEach(function(answer) { %>
                  <button class="input-group" value="<%= answer %>"><%= answerText[answer] %></button>
                <% }); %>
                <button class="input-group" value="">No position</button>
              </form>
            </div>
            <div class="answer copy-container">
              <h4>Candidates who agree with you</h4>
              <div class="chart"></div>
            </div>
            <div class="expandable collapsed">
              <div class="responses-header expandable-header copy-container">
                <p class="expandable-link responses-link-group"><span class="display-open">- Hide all responses</span><span class="display-closed">+ Show all responses</span></p>
                <div class="responses-button-group visible-open">
                  <button class="active" type="button" value="grid">Grid</button>
                  <button type="button" value="list">List</button>
                </div>
              </div>
              <div class="responses expandable-body grid copy-container">
                <% question.answers.forEach(function(answer) { %>
                  <div class="response" data-slug="<%= answer %>">
                    <h4><%= answerText[answer] %></h4>
                    <% if (positions[answer] && positions[answer].length > 0) { %>
                    <ul>
                      <% positions[answer].forEach(function(position) { %>
                        <% const candidate = grunt.data.json.candidateData[position.slug]; %>
                        <li data-slug="<%= position.slug %>">
                          <figure class="circle-image response-image">
                            <img class="<%= candidate.party === "D" ? "dem" : candidate.party === "R" ? "rep" : "" %>" src="<%= candidate.image ? `assets/images/${candidate.image}` : emptyImage %>" alt="<%= candidate.name %>" />
                            <div class="circle-image-label response-image-label">
                              <%= candidate.image ? "" : candidate.label %>
                            </div>
                          </figure>
                          <div class="response-details">
                            <p class="response-name"><%= candidate.name %> (<%= candidate.party %>)</p>
                            <% if (position.quote) { %>
                              <p class="response-quote"><%= position.quote %></p>
                              <p class="response-source">from <%= position.url ? `<a href="${answer.url}" target="_blank">${position.source}</a>` : position.source %><%= position.date ? `, <span class="response-date">${position.date}</span>` : "" %></p>
                            <% } %>
                          </div>
                        </li>
                      <% }); %>
                    </ul>
                    <% } else { %>
                      <p class="no-response">No candidates selected this answer</p>
                    <% } %>
                  </div>
                <% }); %>
                <% if (naAnswerPositions.length) { %>
                  <div class="response">
                    <h4>No response / no position</h4>
                    <p class="no-position"><%= naAnswerPositions.map(d => grunt.data.json.candidateData[d.slug].name).join(", ") %></p>
                  </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    <% } %>

    <div id="results-container" class="results-container section">
      <h2 class="results-title">Your <%= archieml.hed %> Matches</h2>
      <div id="results-chart" class="results-chart"></div>
      <div id="results" class="results"></div>
    </div>
  </main>
  <%= t.include("partials/_footer.html") %>
  <script src="app.js" async></script>
  <%/*  t.include("partials/_analytics.html") */%>
</body>

</html>
