<!doctype html>
<html lang="en-US">

<head>
  <%= t.include("partials/_head.html", grunt.data.json) %>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<% 
  const guideData = grunt.data.json.positions["criminal-justice"];
  const archieml = grunt.data.archieml["criminal-justice-test"];
%>


<body>
  <div class="splash-screen">
    <div class="splash-screen-background">
      <div class="background-circle"></div>
    </div>
    <div class="splash-screen-text">
      <div class="watermark"><a href="https://thecity.nyc/"><%=  t.include("assets/logo.svg") %></a></div>
      <p class="series-headline">Meet Your Mayor</p>
      <h1 class="topic"><%= archieml.hed %></h1>
      <% const updated = new Date(); %>
      <p class="date"><time datetime="<%= updated.toISOString() %>"><%= updated.toLocaleDateString("en-US", {
          month: "long",
          day: "numeric",
          year: "numeric"
        }) %></time>
      </p>
      <p class="deck"><%= archieml.dek %></p>
      <i class="down-arrow"></i>
    </div>
  </div>
  <main>
    <%= t.include("partials/_archie.ejs", grunt.data) %>

    <div id="results-container" class="results-container">
      <h2 class="result-title">Results</h2>
      <div id="results" class="results"></div>
    </div>
  </main>
  <%= t.include("partials/_footer.html") %>
  <script src="app.js" async></script>
  <%/*  t.include("partials/_analytics.html") */%>
</body>

</html>
