<!doctype html>
<html lang="en-US">

  <% 

  // TODO: pull from doc
  const settings = {
    date: new Date(2021,5,1),
    title: "Ultimate Match",
    description: "Candidates for NYC mayor told us where they stand on 15 big issues. Now you can pick your positions and see which contenders are the right ones for you.",
    dek: "Candidates for NYC mayor told us where they stand on 15 big issues. Now you can pick your positions and see which contenders are the right ones for you."
  };

  const emptyImage = "data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==";
  const datePublished = settings.date;

  const project = {
    "title": `Meet Your Mayor: ${settings.title}`,
    "description": settings.description,
    "url": `https://projects.thecity.nyc/meet-your-mayor/ultimate-match.html`,
    "image": `https://projects.thecity.nyc/meet-your-mayor/assets/share-ultimate-match.jpg`,
    "logo": "https://projects.thecity.nyc/meet-your-mayor/assets/logo.png",
    "author": "THE CITY",
    "datePublished": datePublished.toISOString()
  };
  
  const twitterUrl = `https://twitter.com/intent/tweet?text=${encodeURIComponent(project.description)}&counturl=${encodeURIComponent(project.url)}&url=${encodeURIComponent(project.url + "?utm_campaign=www.thecity.nyc&utm_medium=social&utm_source=twitter&utm_content=mym")}&via=THECITYNY`;
  const facebookUrl = `https://www.facebook.com/sharer/sharer.php?text=${encodeURIComponent(project.description)}&u=${encodeURIComponent(project.url + "?utm_campaign=www.thecity.nyc&utm_medium=social&utm_source=facebook&utm_content=mym")}`;
  const emailUrl = `mailto:?subject=${project.title}&body=${project.description}%0A%0A${encodeURIComponent(project.url)}`;

  const apMonths = ["Jan.", "Feb.", "March", "April", "May", "June", "July", "Aug.", "Sept.", "Oct.", "Nov.", "Dec."];

  const candidateData = json.candidateData;
  const candidateSlugs = Array.from(json.topicData.reduce((candidateSlugs, {candidates}) => {
    candidates.forEach(slug => candidateSlugs.add(slug));
    return candidateSlugs;
  }, new Set()));

  // For the change log, of candidates who are active on this topic, 
  // mark the ones who dropped out after it was published for the change log
  const newDropouts = candidateSlugs
    .filter(candidateSlug => {
      const candidate = candidateData[candidateSlug];

      if (candidate.droppedOutDate) {
        return new Date(candidate.droppedOutDate).getTime() > datePublished.getTime()
      }
    })
    .map(candidateSlug => {
      return {
        text: `${candidateData[candidateSlug].name} dropped out of the mayoral race.`,
        date: candidateData[candidateSlug].droppedOutDate
      }
    });
  
  const changeMap = json.topicData.reduce((changeMap, {topic}) => {
    const topicChanges = archieml[topic] && archieml[topic].changes || [];

    topicChanges.forEach(change => {
      if (new Date(change.date).getTime() >= datePublished.getTime()) {
        const entries = changeMap.get(change.date) || [];
        changeMap.set(change.date, [...entries, `<em>${json.topicDisplayData[topic].label} </em>— ${change.text}`]);
      }
    });

    return changeMap;
  }, new Map());

  const changeLog = Array.from(changeMap).map(([date, entries]) => {
    return {
      date, 
      text: entries.join(" ")
    };
  });

  const changeEntries = [...changeLog, ...newDropouts];
  const changes = changeEntries.sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime())
    .map(change => {
      const date = new Date(change.date);
      const dateString = `${apMonths[date.getUTCMonth()]} ${date.getUTCDate()}, ${date.getUTCFullYear()}`;
      return {text: change.text, date: dateString};
    });
%>

<head>
  <%= t.include("partials/_head.html", {project: project}) %>
  <link rel="stylesheet" type="text/css" href="style.css">
  <style>
    <% Object.entries(json.topicDisplayData).forEach(([topic, displayData]) => { %>
    .question[data-topic="<%= topic %>"] form button.active {
      background-color: <%= displayData.color %>;
    }
    <% }); %>
  </style>
</head>

<body>
  <nav class="nav">
    <div class="nav-container">
      <div class="nav-logo">
        <a href="https://thecity.nyc/"><%=  t.include("assets/logo.svg") %></a>
      </div>
      <div class="nav-title"></div>
      <div class="nav-links">
        <a href="https://projects.thecity.nyc/nyc-primary-voter-guide-2021/">Voter Guide</a>
      </div>
    </div>
  </nav>
  <div class="splash-screen splash-screen-nav">
    <div class="splash-screen-visual"></div>
    <div class="splash-screen-overlay"></div>
    <div class="splash-screen-text">
      <p class="series-headline">Meet Your Mayor</p>
      <h1 class="topic"><%= settings.title %></h1>
      <p class="date"><time datetime="<%= datePublished.toISOString() %>"><%= datePublished.toLocaleDateString("en-US", {
          month: "long",
          day: "numeric",
          year: "numeric"
        }) %></time>
      </p>
      <p class="deck"><%= settings.dek %></p>
      <i class="down-arrow"></i>
    </div>
  </div>
  <main>
    <div class="article-body">
      <div class="article-body-content">
        <!-- <% if (settings.intro) { %>
          <% /* t.include("partials/_archie.ejs", {story: settings.intro}) */ %>
        <% } %> -->
        <div class="copy">
          <p>Voters of New York City: It’s time to pick your nominee for mayor, with primary day approaching on June 22. Since March, THE CITY has been presenting the candidates’ positions, issue by issue. Meet Your Mayor shows you how the contenders' stands fit with your take on what matters most to New Yorkers.</p>
          <p>Now we’ve pulled all 15 Meet Your Mayor editions into one final, supersized superquiz that will show you your ultimate match. Actually, your top matches, since voters will be ranking up to five selections at the polls.</p>
          <p>Answer the questions below and Meet Your Mayor: Ultimate Match will present you with a list of your top candidate matches, which you can take with you to the polls or share on social media.</p>
          <p>Your responses will be private, and THE CITY will not collect any information from you. <a href="https://www.thecity.nyc/e/22094122">Learn more about Meet Your Mayor’s privacy practices here</a>.</p>
        </div>
        <% if (changes.length) { %>
          <% const updated = new Date(changes[0].date); %>
          <div class="copy">
            <p><a href="#change-list" id="changed-link"><em>Last updated <time datetime="<%= updated.toISOString() %>"><%= apMonths[updated.getUTCMonth()] %> <%= updated.getUTCDate() %>, <%= updated.getUTCFullYear() %></time></em></a></p>
          </div>
        <% } %>
      </div>
      <div class="article-body-sidebar">
        <div class="sidebar-login">
          <p class="login-prompt">Customize your results with your profile image</p>
          <p class="login-buttons">
            <button id="g-button" class="g-button"><%=  t.include("assets/login-icons/google_logo.svg") %> <span class="g-button-text">Log in with Google</span></button>
            <button id="fb-button" class="fb-button"><%=  t.include("assets/login-icons/facebook_logo.svg") %> <span class="fb-button-text">Log in with Facebook</span></button>
          </p>
        </div>
        <p class="copy login-note">Logging in is optional and used exclusively to obtain a profile image. We don't store any data from the above providers. Read our full <a href="https://www.thecity.nyc/e/22094122">privacy statement</a> for this interactive.</p>
      </div>
    </div>

    <div class="article-body">
      <div id="questions" class="article-body-content">
        <div class="final-intro">
          <h2 class="subhead">Questions</h2>
          <p class="copy">Answer the following questions to see which candidates for mayor most closely match the future you want to see for New York City. You can answer all 61 questions or select just the ones that interest you. The whole quiz takes about 10 minutes to complete start to finish. If you need to leave the page, your answers will still be here when you come<span class="widont">&nbsp;</span>back.</p>
        </div>
        <% json.topicData.forEach(({topic}) => {
          const questions = archieml[topic] && archieml[topic].questions || [];
          const topicData = json.topicData.filter(d => d.topic === topic)[0] || {};
          const topicCandidates = topicData.candidates || [];
        %>
        <div class="expandable topic-section collapsed" data-value="<%= topic %>">
          <div class="topic-header expandable-header expandable-link">
            <h2 class="topic-header-name"><%= archieml[topic].hed %></h2>
            <p class="topic-header-count">Answered X of <%= questions.length %></p>
            <div class="display-open"><i class="up-arrow"></i></div><div class="display-closed"><i class="down-arrow"></i></div>
          </div>
          <div class="expandable-body">
            <a class="topic-link" href="<%= topic %>.html">View topic guide</a>
            <%
              questions.forEach((question, index) => {
                const answerText = json.answerData[topic] && json.answerData[topic][question.slug] || {};
                const answerPositions = json.positionData[topic] && json.positionData[topic][question.slug] || {};
                const positions = answerPositions;
            %>
            <div id="<%= topic %>-<%= question.slug %>" class="question question-final" data-topic="<%= topic %>" data-slug="<%= question.slug %>">
              <h3 class="question-hed"><%= json.questionData[topic] && json.questionData[topic][question.slug] %></h3>
              <div class="question-copy">
                <%= t.renderMarkdown(question.intro) %>
              </div>
              <form>
                <% question.answers.forEach((answer) => { %>
                  <button class="input-group" value="<%= answer %>"><%= answerText[answer] %></button>
                <% }); %>
                <button class="input-group" value="">Skip this question</button>
              </form>
              <div class="agreed">
                <h4>Candidates who agree with you<a href="#" class="expand-answers collapsed"><span class="display-open">Collapse answers</span><span class="display-closed">Expand answers</span></a></h4>
                <div class="responses responses-final grid">
                  <% question.answers.forEach(function(answer) { %>
                    <div class="response" data-slug="<%= answer %>">
                      <% if (positions[answer] && positions[answer].length > 0) { %>
                      <% const sortedPositions = positions[answer].sort((a, b) => {
                        const aText = candidateData[a.slug].lastName.toLowerCase();
                        const bText = candidateData[b.slug].lastName.toLowerCase();
                          if (aText < bText) {
                            return -1;
                          }
                          if (aText > bText) {
                            return 1;
                          }
                          return 0;
                      }) %>
                      <ul>
                        <% sortedPositions.forEach(function(position) { %>
                          <% const candidate = candidateData[position.slug]; %>
                          <li data-slug="<%= position.slug %>">
                            <figure class="response-image">
                              <div class="circle-image <%= candidate.party === "D" ? "dem" : candidate.party === "R" ? "rep" : "" %> <%= candidate.droppedOut ? "dropped-out" : "" %>">
                                <img src="<%= candidate.image ? `assets/images/${candidate.image}` : emptyImage %>" alt="<%= candidate.name %>" />
                                <div class="circle-image-label response-image-label">
                                  <%= candidate.image ? "" : candidate.label %>
                                </div>
                              </div>
                              <figcaption class="circle-image-caption"><%= candidate.lastName %></figcaption>
                            </figure>
                            <div class="response-details">
                              <p class="response-name"><a href="candidates/<%= position.slug %>.html"><%= candidate.name %> (<%= candidate.party %>)<%= (candidate.droppedOut ? `<span class="response-status">Dropped out ${candidate.droppedOut}</span>` : "") %></a></p>
                              <% if (position.quote) { %>
                                <p class="response-quote"><%= position.quote %></p>
                                <p class="response-source">from <%= position.url ? `<a href="${position.url}" target="_blank">${position.source}</a>` : position.source %><%= position.date ? `, <span class="response-date">${position.date}</span>` : "" %></p>
                              <% } %>
                            </div>
                          </li>
                        <% }); %>
                      </ul>
                      <% } else { %>
                        <p class="no-response">No candidates selected this answer</p>
                      <% } %>
                    </div>
                  <% }); %>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <% }); %>
      </div>
      <div class="article-body-sidebar-hide">
        <div class="sidebar-box sidebar-box-chart">
          <h4 class="sidebar-box-chart-header">Answer questions to see matches</h4>
          <div id="sidebar-chart" class="chart"></div>
        </div>
      </div>
    </div>
    
    <div id="results-container" class="results-container section section-highlight-final">
      <h2 class="results-title">Your Top Matches</h2>
      <div class="copy-container">
        <div class="share-container">
          <p> 
            <a class="twitter-link" href="<%= twitterUrl %>" target="_blank" data-value="twitter"><%=  t.include("assets/social-icons/twitter.svg") %><span class="link-text"> Twitter</span></a>
            <a class="facebook-link" href="<%= facebookUrl %>" target="_blank" data-value="facebook"><%=  t.include("assets/social-icons/facebook.svg") %><span class="link-text"> Facebook</span></a>
            <a class="email-link" href="<%= emailUrl %>" target="_blank" data-value="email"><%=  t.include("assets/social-icons/email.svg") %><span class="link-text">  Email</span></a>
          </p>
          <p>
            <a class="results-link" href="printable.html?view=all">Print results</a>
          </p>
        </div>
      </div>
      <div id="results" class="results"></div>
    </div>

    <div class="section section-white">
      <div class="newsletter photo-container">
        <div class="newsletter-text">
          <h3 class="newsletter-head">Want to learn more about the candidates who agree with you most?</h3>
          <p class="newsletter-intro">Our voter guide has candidate profiles, an explanation of ranked choice voting and more.</p>
        </div>
        <div class="newsletter-link">
          <a href="https://projects.thecity.nyc/nyc-primary-voter-guide-2021/">Voter Guide</a>
        </div>
      </div>
    </div>

    <div class="section section-transparent">
      <div class="photo-container">
        <% if (changes.length) { %>
          <ul id="change-list" class="change-list">
            <% changes.forEach(change => { %>
              <li><span class="change-date"><%= change.date %>:</span> <%= change.text %></li>
            <% }) %>
          </ul>
        <% } %>
        <p class="photo-credit">Reporting by Ann Choi and Mónica Cordero, development by Will Welch, editing by Alyssa Katz. Candidate images from Ben Fractenberg/THE CITY, Alejandro Durán/THE CITY, Shutterstock and campaign websites.</p>
      </div>
    </div>

  </main>
  <%= t.include("partials/_footer.html") %>
  <div class="mobile-footer">
    <h4 class="mobile-footer-header">Answer questions to see matches</h4>
    <ul class="mobile-candidate-icons"></ul>
  </div>

  <script src="final.js"></script>
  <script src="https://connect.facebook.net/en_US/sdk.js" async defer crossorigin="anonymous"></script>
  <script src="https://apis.google.com/js/platform.js?onload=gAsyncInit" async defer></script>
  <% if (mode !== "dev") { %>
    <%= t.include("partials/_analytics.html") %>
  <% } %>
</body>

</html>
